Repository Emily-Thomas/bestrong: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && biome check --write, cd backend && biome check --write

.lintstagedrc.json:

{
  "frontend/**/*.{ts,tsx,js,jsx,json,css}": [
    "cd frontend && biome check --write"
  ],
  "backend/**/*.{ts,js,json}": [
    "cd backend && biome check --write"
  ]
}

tablet version
  .gitignore
  api/cron/process-jobs.ts
  backend/migrations/013_add_workout_rating.sql
  backend/src/routes/recommendation.routes.ts
  backend/src/services/actual-workout.service.ts
  backend/src/services/ai.service.ts
  backend/src/services/job.service.ts
  backend/src/services/week-generation-job.service.ts
  backend/src/services/workout.service.ts
  backend/src/types/index.ts
  frontend/app/clients/[id]/workouts/[workoutId]/execute/components/ExerciseInputCard.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/components/ExerciseInputModal.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/components/WorkoutRatingSection.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/page.tsx
  frontend/src/lib/api.ts
Due: cd frontend && biome check --write, cd backend && biome check --write

pre workout survey
  frontend/app/clients/[id]/workouts/[workoutId]/execute/components/PreWorkoutSurvey.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/page.tsx
Due: cd frontend && biome check --write

fix type errors
  backend/src/middleware/auth.ts
  frontend/app/clients/[id]/workouts/[workoutId]/execute/page.tsx
Due: cd frontend && biome check --write, cd backend && biome check --write

fix button
  frontend/app/clients/[id]/components/WorkoutsSection.tsx
Due: cd frontend && biome check --write

processing script for local
  README.md
  backend/package.json
  backend/scripts/process-jobs.ts
  package.json
Due: cd backend && biome check --write

fix vercel api handler
  api/index.ts
Due: none

survey
  frontend/app/clients/[id]/workouts/[workoutId]/execute/components/PreWorkoutSurvey.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/page.tsx
Due: cd frontend && biome check --write

in progress
  .cursorrules
  backend/migrations/014_create_exercise_library_exercises.sql
  backend/migrations/015_create_trainers_table.sql
  backend/migrations/016_trainer_structured_persona.sql
  backend/migrations/017_recommendation_trainer_comparison.sql
  backend/scripts/seed-exercise-library.ts
  backend/scripts/show-prompts.ts
  backend/src/index.ts
  backend/src/routes/exercise-library.routes.ts
  backend/src/routes/recommendation.routes.ts
  backend/src/routes/trainer.routes.ts
  backend/src/services/ai.service.ts
  backend/src/services/exercise-library.service.ts
  backend/src/services/job.service.ts
  backend/src/services/questionnaire-prompt.service.ts
  backend/src/services/recommendation.service.ts
  backend/src/services/trainer.service.ts
  backend/src/services/workout-library-integration.service.ts
  backend/src/types/index.ts
  docs/EXERCISE_LIBRARY_SPEC.md
  docs/PROGRAM_BUILDER_AND_EXERCISE_LIBRARY_AI_UX_SPEC.md
  docs/TRAINER_PERSONAS_SPEC.md
  docs/WORKOUT_AUTHORING_AND_EXERCISE_LIBRARY_INTEGRATION.md
  frontend/app/clients/[id]/compare/[batchId]/page.tsx
  frontend/app/clients/[id]/components/QuestionnaireSection.tsx
  frontend/app/clients/[id]/components/TrainingPlansSection.tsx
  frontend/app/clients/[id]/components/WorkoutsSection.tsx
  frontend/app/clients/[id]/questionnaire/QuestionComponents.tsx
  frontend/app/clients/[id]/questionnaire/config.ts
  frontend/app/clients/[id]/questionnaire/page.tsx
  frontend/app/clients/[id]/questionnaire/submit.ts
  frontend/app/clients/[id]/questionnaire/types.ts
  frontend/app/clients/[id]/recommendations/[recId]/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExerciseLibraryPicker.tsx
  frontend/app/exercise-library/page.tsx
  frontend/app/trainers/[id]/page.tsx
  frontend/app/trainers/page.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/lib/api.ts
Due: cd frontend && biome check --write, cd backend && biome check --write

clean up docs
  ASYNC_RECOMMENDATION_ANALYSIS.md
  DATABASE_MIGRATION_SPEC.md
  ORM_ANALYSIS.md
  README.md
  docs/README.md
Due: none

add migrations
  backend/package.json
  backend/scripts/migrate-vercel.ts
  backend/scripts/migrate.ts
  backend/scripts/seed-admins.ts
  backend/scripts/seed-exercise-library.ts
  backend/src/seeds/exercise-library.seed.ts
Due: cd backend && biome check --write

undo mocking
  backend/.env.example
  backend/src/routes/inbody-scan.routes.ts
  backend/src/services/inbody-extraction.service.ts
Due: cd backend && biome check --write

fix questionairre
  frontend/app/clients/[id]/questionnaire/QuestionnaireForm.tsx
  frontend/src/lib/api.ts
Due: cd frontend && biome check --write

fix form
  backend/migrations/019_questionnaire_nutrition_habits_text.sql
  backend/src/db/schema.sql
Due: none

fix login confusion
  backend/src/routes/client.routes.ts
  backend/src/routes/recommendation.routes.ts
  backend/src/routes/trainer.routes.ts
  backend/src/services/client.service.ts
  backend/src/services/recommendation.service.ts
  backend/src/services/trainer.service.ts
Due: cd backend && biome check --write

fix upload
  backend/src/services/inbody-extraction.service.ts
  openai-4.77.0.tgz
  turbo.json
Due: cd backend && biome check --write

fix jobs for inbody
  README.md
  api/cron/process-jobs.ts
  backend/scripts/process-jobs.ts
  backend/src/routes/inbody-scan.routes.ts
  backend/src/services/inbody-scan.service.ts
  docs/INBODY_SCAN_PROCESSING_FIX.md
Due: cd backend && biome check --write

Add debug endpoints and troubleshooting guide for InBody scans
  api/debug/inbody-status.ts
  api/debug/process-pending-scans.ts
  docs/TROUBLESHOOTING_INBODY_PENDING.md
Due: none

milo branding
  .cursor/rules/milo-design-system.md
  .cursorrules
  LOGO_FINAL.md
  MILO_APP_REFRESH_PLAN.md
  MILO_FINAL_STATUS.md
  MILO_LOGO_UPDATE.md
  MILO_REBRAND_SUMMARY.md
  MILO_REFRESH_SUMMARY.md
  frontend/app/clients/page.tsx
  frontend/app/dashboard/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/app/trainers/page.tsx
  frontend/public/milo-logo-blue.png
  frontend/public/milo-logo-blue.svg
  frontend/public/milo-logo-gold.png
  frontend/public/milo-logo-gold.svg
  frontend/public/milo-logo.png
  frontend/src/components/AppShell.tsx
  frontend/src/design-system/README.md
  frontend/src/design-system/docs/MILO_BRAND_GUIDE.md
  frontend/src/design-system/tokens/colors.ts
  frontend/src/design-system/tokens/index.ts
  frontend/src/design-system/tokens/radii.ts
  frontend/src/design-system/tokens/shadows.ts
  frontend/src/design-system/tokens/spacing.ts
  frontend/src/design-system/tokens/typography.ts
Due: cd frontend && biome check --write

modify logo
  .cursor/rules/milo-design-system.md
  .cursorrules
  frontend/app/login/page.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/design-system/docs/MILO_BRAND_GUIDE.md
Due: cd frontend && biome check --write

design refresh
  frontend/app/clients/[id]/page.tsx
  frontend/app/clients/[id]/questionnaire/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/page.tsx
  frontend/app/clients/new/page.tsx
  frontend/app/exercise-library/page.tsx
  frontend/app/login/page.tsx
  frontend/app/trainers/[id]/page.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/MiloLogoMark.tsx
Due: cd frontend && biome check --write

more design updates
  frontend/app/clients/[id]/compare/[batchId]/page.tsx
  frontend/app/clients/[id]/components/ScanReviewModal.tsx
  frontend/app/clients/[id]/questionnaire/QuestionnaireForm.tsx
  frontend/app/clients/[id]/recommendations/[recId]/page.tsx
  frontend/app/clients/[id]/recommendations/[recId]/workouts-review/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/page.tsx
  frontend/app/trainers/page.tsx
Due: cd frontend && biome check --write

fix processes
  backend/src/routes/recommendation.routes.ts
  frontend/app/clients/[id]/components/GenerateWorkoutsPanel.tsx
  frontend/app/clients/[id]/components/TrainingPlansSection.tsx
Due: cd frontend && biome check --write, cd backend && biome check --write

editign functionality
  .cursorrules
  docs/LOGO_FINAL.md
  docs/MILO_APP_REFRESH_PLAN.md
  docs/MILO_FINAL_STATUS.md
  docs/MILO_LOGO_UPDATE.md
  docs/MILO_REBRAND_SUMMARY.md
  docs/MILO_REFRESH_SUMMARY.md
  frontend/app/clients/[id]/components/ClientDetailTabs.tsx
  frontend/app/clients/[id]/components/ClientSetupWorkspace.tsx
  frontend/app/clients/[id]/components/GenerateWorkoutsPanel.tsx
  frontend/app/clients/[id]/components/InBodyScansSection.tsx
  frontend/app/clients/[id]/components/ManualMesocycleForm.tsx
  frontend/app/clients/[id]/components/PlanTemplateDetailDialog.tsx
  frontend/app/clients/[id]/components/QuestionnaireSection.tsx
  frontend/app/clients/[id]/components/TrainingPlansSection.tsx
  frontend/app/clients/[id]/components/WorkoutsSection.tsx
  frontend/app/clients/[id]/components/recommendation-plan-meta.ts
  frontend/app/clients/[id]/page.tsx
  frontend/app/clients/[id]/questionnaire/QuestionnaireForm.tsx
  frontend/app/clients/[id]/questionnaire/page.tsx
  frontend/app/clients/[id]/recommendations/[recId]/workouts-review/ExerciseSwapDialog.tsx
  frontend/app/clients/[id]/recommendations/[recId]/workouts-review/components/MuscleBodyDiagram.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/page.tsx
  frontend/app/clients/new/page.tsx
  frontend/app/clients/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/public/milo-mark.svg
  frontend/public/milo-wordmark.svg
  frontend/src/components/AppShell.tsx
  frontend/src/components/MiloLogoMark.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/design-system/README.md
  frontend/src/design-system/docs/MILO_BRAND_GUIDE.md
  frontend/src/design-system/tokens/colors.ts
  frontend/src/design-system/tokens/shadows.ts
Due: cd frontend && biome check --write

dark mode
  DESIGN.md
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExercisePrescriptionFields.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/WorkoutEditStickyFooter.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/lib/exercise-from-library.ts
  frontend/app/clients/[id]/workouts/[workoutId]/edit/lib/merge-exercise-updates.ts
  frontend/app/clients/[id]/workouts/[workoutId]/edit/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/components/WorkoutExecuteStickyFooter.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/page.tsx
  frontend/app/globals.css
  frontend/app/layout.tsx
  frontend/app/login/page.tsx
  frontend/public/scout-mark.svg
  frontend/public/scout-wordmark.svg
  frontend/src/components/AppShell.tsx
  frontend/src/components/ProtectedRoute.tsx
  frontend/src/design-system/tokens/colors.ts
  frontend/src/design-system/tokens/shadows.ts
Due: cd frontend && biome check --write

re angle chart
  frontend/app/clients/[id]/components/ImportedProgramBuilder.tsx
Due: cd frontend && biome check --write

add supersets/trisets/circuts
  backend/src/types/index.ts
  frontend/app/clients/[id]/recommendations/[recId]/workouts-review/components/SessionWorkoutCard.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExerciseGroupBlock.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExerciseLinkMenu.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExercisePrescriptionFields.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExerciseRow.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/GroupBlockPrescription.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/LinkSelectionToolbar.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/SegmentPairLinkButton.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/StandaloneExerciseBlock.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/lib/edit-ui-classes.ts
  frontend/app/clients/[id]/workouts/[workoutId]/edit/lib/exercise-link-actions.ts
  frontend/app/clients/[id]/workouts/[workoutId]/edit/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/components/ExerciseGroupExecuteBlock.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/components/ExerciseLogCard.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/page.tsx
  frontend/src/components/workout/WorkoutExerciseList.tsx
  frontend/src/components/workout/exercise-group-visuals.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/exercise-groups.ts
Due: cd frontend && biome check --write, cd backend && biome check --write

polish
  frontend/app/clients/[id]/recommendations/[recId]/workouts-review/components/SessionWorkoutCard.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/CoachNotesCollapsible.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExerciseGroupBlock.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExercisePrescriptionFields.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExerciseRow.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/GroupBlockPrescription.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/StandaloneExerciseBlock.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/WorkoutEditStickyFooter.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/lib/edit-ui-classes.ts
  frontend/app/clients/[id]/workouts/[workoutId]/edit/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/components/ExerciseGroupExecuteBlock.tsx
  frontend/src/components/workout/WorkoutExerciseList.tsx
  frontend/src/components/workout/exercise-group-visuals.tsx
Due: cd frontend && biome check --write

add drag and drop
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExerciseDragHandle.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/ExerciseGroupBlock.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/GroupMovementsSortable.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/SegmentPairLinkButton.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/SortableMovementRow.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/SortableSegmentShell.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/StandaloneExerciseBlock.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/components/WorkoutExerciseSortableList.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/lib/edit-ui-classes.ts
  frontend/app/clients/[id]/workouts/[workoutId]/edit/page.tsx
  frontend/package.json
  frontend/src/components/workout/exercise-group-visuals.tsx
  frontend/src/lib/exercise-reorder.ts
  package-lock.json
Due: cd frontend && biome check --write
