Repository Emily-Thomas/bestrong: changes, and which lint-staged commands are due for each by the changed paths.
All: cd frontend && biome check --write, cd backend && biome check --write

.lintstagedrc.json:

{
  "frontend/**/*.{ts,tsx,js,jsx,json,css}": [
    "cd frontend && biome check --write"
  ],
  "backend/**/*.{ts,js,json}": [
    "cd backend && biome check --write"
  ]
}

fix build
  frontend/app/clients/[id]/questionnaire/page.tsx
  frontend/app/clients/[id]/recommendations/[recId]/page.tsx
  frontend/src/components/ui/resizable.tsx
Due: cd frontend && biome check --write

updating vercel deployment
  .vercelignore
  DEPLOYMENT_SUMMARY.md
  VERCEL_DEPLOYMENT.md
  api/index.ts
  backend/package.json
  backend/scripts/migrate-vercel.ts
  backend/src/config/database.ts
  frontend/src/lib/api.ts
  package-lock.json
  package.json
  vercel.json
Due: cd frontend && biome check --write, cd backend && biome check --write

fix vercel build
  api/index.ts
  vercel.json
Due: none

update how env variables are read
  backend/scripts/migrate-vercel.ts
  backend/src/config/database.ts
Due: cd backend && biome check --write

try to fix env variables again
  backend/src/config/database.ts
  package.json
Due: cd backend && biome check --write

fix type error
  backend/src/config/database.ts
Due: cd backend && biome check --write

update to supabase
  DEPLOYMENT_SUMMARY.md
  VERCEL_DEPLOYMENT.md
  backend/scripts/migrate-vercel.ts
  backend/src/config/database.ts
Due: cd backend && biome check --write

update env variables
  ARCHITECTURE.md
  DEPLOYMENT_SUMMARY.md
  README.md
  VERCEL_DEPLOYMENT.md
  backend/scripts/check-db-connection.ts
  backend/scripts/migrate-vercel.ts
  backend/scripts/migrate.ts
  backend/src/config/database.ts
Due: cd backend && biome check --write

fix SSL
  backend/scripts/check-db-connection.ts
  backend/src/config/database.ts
Due: cd backend && biome check --write

resolving ssl
  backend/src/config/database.ts
Due: cd backend && biome check --write

add turborepo
  frontend/package.json
  package-lock.json
  package.json
  turbo.json
  vercel.json
Due: cd frontend && biome check --write

change to tasks
  turbo.json
Due: none

add env variables
  turbo.json
Due: none

refactor vercel json files
  backend/vercel.json
  vercel.json
Due: cd backend && biome check --write

fix output directory
  turbo.json
Due: none

CORS error
  api/index.ts
Due: none

migrate users
  backend/scripts/migrate-vercel.ts
  vercel.json
Due: cd backend && biome check --write

update styles and some features
  backend/src/routes/recommendation.routes.ts
  backend/src/services/recommendation.service.ts
  frontend/app/clients/[id]/page.tsx
  frontend/app/clients/[id]/questionnaire/page.tsx
  frontend/app/clients/new/page.tsx
  frontend/app/clients/page.tsx
  frontend/src/components/AppShell.tsx
  frontend/src/components/Navbar.tsx
  frontend/src/lib/api.ts
Due: cd frontend && biome check --write, cd backend && biome check --write

refactor questionarre
  backend/src/services/recommendation.service.ts
  frontend/app/clients/[id]/questionnaire/QuestionComponents.tsx
  frontend/app/clients/[id]/questionnaire/config.ts
  frontend/app/clients/[id]/questionnaire/page.tsx
  frontend/app/clients/[id]/questionnaire/types.ts
Due: cd frontend && biome check --write, cd backend && biome check --write

add in truely LLM generated workouts
  LLM_INTEGRATION.md
  backend/package.json
  backend/scripts/add-workouts-table.ts
  backend/src/db/schema.sql
  backend/src/routes/recommendation.routes.ts
  backend/src/services/ai.service.ts
  backend/src/services/recommendation.service.ts
  backend/src/services/workout.service.ts
  backend/src/types/index.ts
  frontend/app/clients/[id]/recommendations/[recId]/page.tsx
  frontend/src/lib/api.ts
  package-lock.json
  turbo.json
Due: cd frontend && biome check --write, cd backend && biome check --write

migration
  backend/src/db/schema.sql
Due: none

update the migration
  backend/scripts/migrate-vercel.ts
Due: cd backend && biome check --write

migration for workouts table
  backend/scripts/migrate-vercel.ts
  backend/src/db/migrations.ts
Due: cd backend && biome check --write

make ai reccomendations async
  .cursorrules
  backend/package.json
  backend/scripts/add-recommendation-jobs-table.ts
  backend/scripts/migrate-vercel.ts
  backend/src/db/schema.sql
  backend/src/routes/recommendation.routes.ts
  backend/src/services/ai.service.ts
  backend/src/services/job.service.ts
  docs/ARCHITECTURE.md
  docs/ASYNC_RECOMMENDATION_ANALYSIS.md
  docs/DATABASE_MIGRATION_SPEC.md
  docs/DEPLOYMENT_SUMMARY.md
  docs/FRONTEND.md
  docs/LLM_INTEGRATION.md
  docs/ORM_ANALYSIS.md
  docs/VERCEL_DEPLOYMENT.md
  frontend/app/clients/[id]/components/ClientInformationSection.tsx
  frontend/app/clients/[id]/components/QuestionnaireSection.tsx
  frontend/app/clients/[id]/components/TrainingPlansSection.tsx
  frontend/app/clients/[id]/page.tsx
  frontend/app/clients/[id]/questionnaire/page.tsx
  frontend/src/lib/api.ts
Due: cd frontend && biome check --write, cd backend && biome check --write

workout feature
  backend/migrations/004_add_client_status.sql
  backend/migrations/005_add_workout_status_tracking.sql
  backend/migrations/006_create_actual_workouts_table.sql
  backend/migrations/007_add_recommendation_week_tracking.sql
  backend/migrations/008_create_week_generation_jobs_table.sql
  backend/migrations/009_workout_execution_feature.sql
  backend/package.json
  backend/scripts/add-all-missing-columns.ts
  backend/scripts/add-client-status-column.ts
  backend/src/db/migrations.ts
  backend/src/db/schema.sql
  backend/src/index.ts
  backend/src/routes/client.routes.ts
  backend/src/routes/recommendation.routes.ts
  backend/src/routes/workout.routes.ts
  backend/src/services/actual-workout.service.ts
  backend/src/services/ai.service.ts
  backend/src/services/client.service.ts
  backend/src/services/recommendation.service.ts
  backend/src/services/week-generation-job.service.ts
  backend/src/services/workout.service.ts
  backend/src/types/index.ts
  docs/WORKOUT_EXECUTION_SPEC.md
  frontend/app/clients/[id]/components/ClientInformationSection.tsx
  frontend/app/clients/[id]/components/WorkoutsSection.tsx
  frontend/app/clients/[id]/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/page.tsx
  frontend/src/lib/api.ts
Due: cd frontend && biome check --write, cd backend && biome check --write

inbody feature
  .gitignore
  api/index.ts
  backend/migrations/010_create_inbody_scans_table.sql
  backend/migrations/011_add_inbody_scan_to_recommendations.sql
  backend/package.json
  backend/src/db/migrations.ts
  backend/src/index.ts
  backend/src/routes/inbody-scan.routes.ts
  backend/src/routes/recommendation.routes.ts
  backend/src/services/ai.service.ts
  backend/src/services/file-storage.service.ts
  backend/src/services/inbody-extraction.service.ts
  backend/src/services/inbody-scan.service.ts
  backend/src/services/recommendation.service.ts
  backend/src/types/index.ts
  docs/INBODY_SCAN_FEATURE_SPEC.md
  docs/PRODUCTION_READINESS.md
  example/inbody.PNG
  frontend/app/clients/[id]/components/InBodyScansSection.tsx
  frontend/app/clients/[id]/components/ScanDetailsModal.tsx
  frontend/app/clients/[id]/components/ScanReviewModal.tsx
  frontend/app/clients/[id]/components/ScanUploadModal.tsx
  frontend/app/clients/[id]/components/TrainingPlansSection.tsx
  frontend/app/clients/[id]/components/utils.ts
  frontend/app/clients/[id]/page.tsx
  frontend/src/lib/api.ts
  package-lock.json
Due: cd frontend && biome check --write, cd backend && biome check --write

fix build
  backend/src/routes/inbody-scan.routes.ts
  backend/src/services/inbody-scan.service.ts
  docs/PRODUCTION_READINESS.md
  docs/VERCEL_BLOB_SETUP.md
Due: cd backend && biome check --write

try to fix timeout issue on vercel
  api/process-job.ts
  backend/src/routes/recommendation.routes.ts
  vercel.json
Due: cd backend && biome check --write

vercel cron jobs
  api/cron/process-jobs.ts
  backend/src/routes/recommendation.routes.ts
  vercel.json
Due: cd backend && biome check --write

undo
  api/cron/process-jobs.ts
  backend/src/routes/recommendation.routes.ts
  vercel.json
Due: cd backend && biome check --write

update to pro settings
  api/index.ts
  backend/src/routes/recommendation.routes.ts
Due: cd backend && biome check --write

revert
  backend/src/routes/recommendation.routes.ts
Due: cd backend && biome check --write

reduce token spend
  backend/src/routes/recommendation.routes.ts
  backend/src/services/ai.service.ts
Due: cd backend && biome check --write

fix generation step
  backend/src/routes/recommendation.routes.ts
  backend/src/services/job.service.ts
  frontend/app/clients/[id]/components/TrainingPlansSection.tsx
  frontend/src/lib/api.ts
Due: cd frontend && biome check --write, cd backend && biome check --write

swap models and create a way to investigate the prompts
  ASYNC_RECOMMENDATION_ANALYSIS.md
  DATABASE_MIGRATION_SPEC.md
  ORM_ANALYSIS.md
  backend/scripts/show-prompts.ts
  backend/src/services/ai.service.ts
  backend/src/services/inbody-extraction.service.ts
  docs/LLM_INTEGRATION.md
  docs/PROMPTS_JOHN_DOE.md
Due: cd backend && biome check --write

move to RIR from RPE
  backend/migrations/012_rename_rpe_to_rir.sql
  backend/scripts/add-all-missing-columns.ts
  backend/scripts/show-prompts.ts
  backend/src/db/schema.sql
  backend/src/services/actual-workout.service.ts
  backend/src/services/ai.service.ts
  backend/src/services/workout.service.ts
  backend/src/types/index.ts
  docs/LLM_INTEGRATION.md
  docs/PROMPTS_JOHN_DOE.md
  docs/WORKOUT_EXECUTION_SPEC.md
  frontend/app/clients/[id]/recommendations/[recId]/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/edit/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/execute/page.tsx
  frontend/app/clients/[id]/workouts/[workoutId]/page.tsx
  frontend/src/lib/api.ts
Due: cd frontend && biome check --write, cd backend && biome check --write

try to fix timeout issue
  api/index.ts
  backend/src/routes/recommendation.routes.ts
  backend/src/services/actual-workout.service.ts
  backend/src/services/inbody-scan.service.ts
  backend/src/services/job.service.ts
  docs/AI_SERVICE_PERFORMANCE_ANALYSIS.md
Due: cd backend && biome check --write

extraction service
  backend/src/services/inbody-extraction.service.ts
Due: cd backend && biome check --write

add cron job
  api/cron/process-jobs.ts
  backend/src/routes/recommendation.routes.ts
  backend/src/services/week-generation-job.service.ts
  docs/TIMEOUT_FIX_OPTIONS_SPEC.md
  vercel.json
Due: cd backend && biome check --write
